img{
    border-radius: 50%;
}

body{
    
    background-color: hsl(0, 0%, 8%);
}
ul{
    list-style-type: none;
    
}
ul li{
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr;
   

}

ul li a{
    box-sizing: border-box;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    font-family: inter-regular;
    
}
ul li a:hover{
    background-color:  hsl(75, 94%, 57%);
    color: black;
    font-family: inter-regular;
}
p{
    color:  hsl(75, 94%, 57%);
    font-family: inter-semibold;
}

h1{
    color: antiquewhite;
    font-family:inter,sans-serif ;

}
.main{
    background-color: hsl(0, 0%, 12%);
    width: fit-content;
    padding: 20px 100px 20px 100px;
    text-align: center;
    margin-left: 35%;
    border-radius: 20px;
}
#s1{
    color: white;
}
@font-face{
    font-family: inter;
    src: url(Inter-Bold.ttf);
}
@font-face{
    font-family: inter-semibold;
    src: url(Inter-SemiBold.ttf);
}
@font-face {
    font-family: inter-regular;
    src: url(Inter-Regular.ttf);
}








